
body {
  margin:0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
.top-container{
  background-color: #E4F9F5;
  padding-top: 50px;
}
.middle-container{
  background-color: white;

}
.bottom-container{
  background-color: #c5ded7;

}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 200px;

}
.top-cloud{
  position: absolute;
  right:300px;
  top:40px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color:grey;
  border-width: 5px;

}
.imgSkills{
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
}
.imgChillies{
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 30px;
}
.imgbbk{
  height: 150px;
  width: 150px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.profile{
  width: 30%;
  margin: 50px auto 50px auto;
  text-align: center;
}
.contact-me{
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
  text-align: center;
}
